h2{color: crimson;}

ol{
    font-weight: bold; color:rgba(7, 209, 7, 0.479);
}

#rcorners {
    border-radius: 25px;
    border: 2px solid black;
    padding: 5px;
    width: 100%;
}

#borderimg {
    border: 3px solid lightgray;
    padding: 10px;
    border-image: url(border.png) 30 stretch;
}

img{
    width: 100%;
    min-width: 200px;
    padding: 10;
    margin: 10;
    border-color: darkgoldenrod;
    position: static;
}

table, th, td {
    border: 1px solid black;
    width: 100%;
  }

th {
    background-color: rgba(3, 121, 3, 0.527);
    color: white;
}
  
tr:nth-child(even) {background-color: #f2f2f2;}